[package]
name = "observability"
version = "0.1.0"
edition = "2021"


license = "Apache-2.0"

[dependencies]
serde = { version = "1", features = ["derive"] }
serde_json = "1"
prometheus = { version = "0.14", features = ["process"] }
lazy_static = "1.4"
