[package]
name = "namespaces"
version = "0.1.0"
edition = "2021"

[dependencies]
common_models = { path = "../common_models" }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
thiserror = "1"

[dev-dependencies]
tempfile = "3"
